<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Shortname:</strong>
    <%= group.shortname %>
  </p>

  <p>
    <strong>Students list:</strong>
    <% group.students.each do |student| %>
      <%= student.name %> <%= student.sname %><br>
    <% end %>
  </p>

</div>
