<div id="<%= dom_id group %>">

  <div class="row bg-info bg-gradient bg-opacity-25 ">
    <div class="col"><%= group.name %></div>
    <div class="col"><%= group.shortname %></div>
    <div class="col"><%= link_to "Szczegóły", details_group_path(id: group.id), data: {turbo_frame: 'Gr'+group.id.to_s}, class: "btn btn-sm btn-primary" %></div>
  </div>
  <%= turbo_frame_tag 'Gr'+group.id.to_s do%>
  <% end %>

</div>

